{% extends 'base.html' %} {% block title %}Home{% endblock %}
{% block style %}

{% endblock %}
{% block content %}
<br>
<div style="color:white;" class="text-center">
    <div class="row m-auto">
        <div class="col-3">
            <h2 style="height: 100px;" class="semibold">Draw Anything You Want When You Can't Sleep</h2><br><br>
            <img src="../static/images/objects/draw.png" style="width:20vw; height:auto;"/>
        </div>
        <div class="col-3">
            <h2 style="height: 100px;" class="semibold">Calculate Your Sleep Cycles To Find The Best Time to Sleep</h2><br><br>
            <img src="../static/images/objects/calculator.png" style="width:20vw; height:auto;"/>
            <br>
        </div>
        <div class="col-3">
            <h2 style="height:100px;" class="semibold">Sign Up Now and Login In to Log Your Sleep Pattern</h2>
            <br><br><br><br>
            <img src="../static/images/objects/tracker.png" style="width:20vw; height:auto;"/>
            <br>
        </div>
        <div class="col-3">
            <h2 style="height:100px;" class="semibold">Meditate with relaxing sounds and white noices anytime</h2>
            <br><br><br>
            <img src="../static/images/objects/meditation.png" style="width:20vw; height:auto;"/>
            <br>
        </div>
    </div>
    <br>
    {% if not(session['logged_in']) %}
    <a class="btn btn-success p-3" data-bs-toggle="modal" data-bs-target="#signUpModal"><h3 class="bold">Sign Up Now!</h3></a>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}

{% endblock %}

