{% extends 'base.html' %} {% block title %}Info{% endblock %}

{% block style %}
<style type="text/css">
    body{
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<body>
<div style="text-align:center">
    <h1>What are sleep cycles?</h1>
    <br>
    <div class = "row">
        <h2>Benefits of sleeping</h2>
        <p> - Boosting your immune system.
            - Strengthening your emotional processing.
            - Improving your mood and decreasing stress.
            - Improving memory function.
            - Improving cellular growth.
            - Repairing tissue and muscle recovery.
            - Increasing productivity.
            - Improving exercise performance.
        </p>
    </div>
    <br>

    <div class = "row">
        <h2>Stages of Sleeping</h2>
        <p>An average sleep cycle lasts about 90 minutes. Ideally, you need four to six cycles of sleep every 24 hours to feel fresh and rested. Each cycle contains four individual stages: three that form non-rapid eye movement (NREM) sleep and one rapid eye movement (REM) sleep. While the time spent in each stage varies the longer you're asleep, and you might bounce between stages each night, each individual stage remains largely the same.</p>
    </div>
    <br>

    <div class = "row">
        <h3>NREM Stage One</h3>
        <p>This stage of light sleeping lasts five to 10 minutes. During this stage you're "dozing off", as your body and brain activity begins to slow down. If you're woken during this stage, you may feel as if you haven't fallen asleep at all.</p>
    </div>
    <br>

    <div class = "row">
        <h3>NREM Stage Two</h3> 
        <p>During this stage of light sleeping, your muscles begin to relax as your body temperature drops and your heart rate and breathing slow down. During this stage, your eye movement stops and your brain waves slow. There are occasional bursts of brain waves called sleep spindles that are believed to assist with storing your memories and shutting down your senses so your sleep won't be interrupted. This stage prepares you to enter into deep sleep and may last up to 25 minutes.</p>
    </div>
    <br>

    <div class = "row">
        <h3>NREM Stage Three</h3>
        <p>This stage is known as deep sleep, in which your eyes and muscles are fully at rest. During this stage, your body is repairing itself by regrowing tissue, strengthening your immune system and building bones and muscle. It is increasingly difficult to wake you up during this stage, and if you are woken, you may experience a period of disorientation and brain fog for up to 30 minutes or an hour. During earlier sleep cycles, this stage could last 20 to 40 minutes and gets increasingly shorter as sleep cycles progress. As you get older, you spend less time in this stage and more time in Stage Two.</p>
    </div>
    <br>

    <div class = "row">
        <h3>REM Sleep</h3>
        <p>You dream during this stage. Your brain activity greatly increases and can even match or exceed your usual brain activity when you are awake. Your muscles enter a state of temporary paralysis, except for your eyes (which move rapidly during this stage) and the muscles you need to breathe. Your breathing gets faster, and your heart rate and blood pressure increase. Usually, the first period of REM sleep occurs around 90 minutes into your sleep cycle and lasts about 10 minutes. Each of your later REM stages gets longer the more hours you remain asleep.</p>
    </div>
    <br>

    <h3>resources</h3>
</div>
</body>
{% endblock %}

{% block scripts %}
<style type="text/javascript">

</style>
{% endblock %}