{% extends 'base.html' %} {% block title %}Info{% endblock %}

{% block style %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<div style="text-align:center">
    <h1>What are sleep cycles?</h1>

    <h2>Benefits of sleeping</h2>
    <p> - Boosting your immune system.
        - Strengthening your emotional processing.
        - Improving your mood and decreasing stress.
        - Improving memory function.
        - Improving cellular growth.
        - Repairing tissue and muscle recovery.
        - Increasing productivity.
        - Improving exercise performance.
    </p>

    <h3>resources</h3>
</div>
{% endblock %}

{% block scripts %}
<style type="text/javascript">

</style>
{% endblock %}