{% extends 'base.html' %} {% block title %}Sleep Log{% endblock %}

{% block style %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<div class="modal fade" id="loggerModal" tabindex="-1">
    <div class="modal-dialog">
        <form action="/api/log" method="post" class="modal-content" id="loggerForm">
            <div class="modal-header">
                <h5 class="modal-title bold">Add A Log</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                    <div class="container">
                        <h4 class="bold">Day</h4>
                        <input type="text" placeholder="mm-dd-yyyy" name="sleepTime" class="form_box" v-model="sleepTime"required><br>
                        <p id="sleepMsg" style="color:red !important;" v-if="sleepError">invalid time (remember it's 24:00 format)</p><br>
                        <h4 class="bold">Estimated Sleep Time</h4>
                        <input type="text" placeholder="hh:mm" name="sleepTime" class="form_box" v-model="sleepTime"required><br>
                        <p id="sleepMsg" style="color:red !important;" v-if="sleepError">invalid time (remember it's 24:00 format)</p><br>
                        <h4 class="bold">Estimated Wake Up Time</h4>
                        <input type="password" placeholder="hh:mm" name="wakeTime" class="form_box" v-model="wakeTime"required><br>
                        <p id="wakeMsg" style="color:red !important;" v-if="wakeError">invalid time (remember it's 24:00 format)</p><br>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <input type="button" class="btn btn-success" value="Add Log" @click="submit(s_username,s_password,s_cpassword)"></button>
            </div>
        </form>
    </div>
</div>

<div style="text-align:center">
    <a type="button" class="nav_button mx-2 p-1" data-bs-toggle="modal" data-bs-target="#loggerModal">Add Log</a>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var loggerForm = new Vue({
        el: "#loggerForm",
        delimiters: ["[[", "]]"],
        data() {
            return {
                sleepError: false,
                wakeError: false,
                sleepTime: "",
                wakeTime: "",
            };
        },
        methods: {
        submit(sleepTime, wakeTime) {
            console.log('data', sleepTime, wakeTime);
            refThis = this
            axios.post("/api/log",
            {
                sleep_time: this.sleepTime,
                wake_time: this.wakeTime,
            },
            {headers:{'Content-Type': 'application/json'}}).then(function (response) {
            refThis.sleepError = false;
            refThis.wakeError = false;
            if (response.data.redirect) {
                window.location.href = response.data.redirect;
            }
            else {
                if (response.data.error == 1) {
                    refThis.sleepError = true;
                }
                else if (response.data.error == 2) {
                    refThis.wakeError = true;
                }
            }
            });
        },
        },
    });
</script>
{% endblock %}